//- -------------------------------------------------------------------------------------------------
- var key = "news";
- var meta = "news-en-index"

include ../../include/_mixin.pug
- var rootPath = '../../'
- 
    var articles = [
        {
            date: '2020.04.16',
            title: 'Change of business hours for corona virus.',
            text: '2020.4.16.Thu. 〜 2020.5.6.Wed.<br>10:00 - 19:00',
            note: '',
        },
        {
            date: '2019.12.27',
            title: 'New Year holidays closing dates are as follows',
            text: '2019<br>○ 12.28.Sat.<br>× 12.29.Sun.<br>○ 12.30.Mon.<br>× 12.31.Tue<br><br>2020<br>× 1.1.Wed.<br>× 1.2.Thu<br>× 1.3.Fri.<br>× 1.4.Sat.<br>× 1.5.Sun<br>○ 1.6.Mun',
            note: '',
        },
        {
            date: '2019.08.09',
            title: 'O-bon holiday closing dates are as follows',
            text: '○ 8.10.Sat.<br>× 8.11.Sun.<br>× 8.12.Mon.<br>× 8.13.Tue<br>× 8.14.Wed.<br>× 8.15.Thu<br>○ 8.16.Fri.<br>○ 8.17.Sat.<br>× 8.18.Sun',
            note: '',
        },
        {
            date: '2019.04.16',
            title: 'GW closing dates are as follows',
            text: '○ 4.27.Sat.<br>× 4.28.Sun.<br>△ 4.29.Mon.<br>△ 4.30.Tue<br>△ 5.1.Wed.<br>△ 5.2.Thu<br>× 5.3.Fri.<br>× 5.4.Sat.<br>× 5.5.Sun<br>△ 5.6.Mon',
            note: '*GW = 4.27 ~ 5.6<br>*○ Open:8:30 ~ Close:19:30<br>*△ Open:8:30 ~ Close:18:00<br>*× CLOSE',
        },
        {
            date: '2019.03.22',
            title: '<a href="../index.html">English page is today available.</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.20',
            title: '<a href="https://line.me/S/sticker/7038815" target="_blank">We made LINE stamp of store\'s mascot dog!</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.11',
            title: '<a href="../price/index.html">Price List page is today available.</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.10',
            title: 'Tsukuba Cleaning\'s website is today available.',
            text: '',
            note: '',
        },
    ];
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../../include/_gtag.pug
        include ../../include/_head.pug
        include ../../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../../include/_en-header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        .l-frame--md
                            h1.c-h2(data-view="ttl"): span News
                            each article in articles
                                dl.t-news
                                    dt.t-news__date 
                                        h2 !{article.date}
                                    dd.t-news__content
                                        h3
                                            b !{article.title}
                                            span !{article.text}
                                            small !{article.note}
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "en/index.html") Back to top page


            include ../../include/_en-footer.pug

        include ../../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------