@charset "UTF-8";

/* 
 * Assumes default font size 16 px
 * 
 * .container
 *     .header
 *     .article
 *     .footer
 */

body {
	height: 100%;
	color: #333;
	font-family: 'Roboto', "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", sans-serif;
	font-size: 87.50%; /* = 14px/16px */
}
img {
	width: 100%;
	height: auto;
}

/* 
 * container
 * =======================================================================================
 */

.container {
}

/* 
 * header
 * =======================================================================================
 */

.header {
	position: relative;
	height: 100vh;
	background: #007540;
	overflow: hidden;
	color: #ddd;
}
.header__item__btn {
	position: absolute;
	width: 20%;
	right: 0;
	text-align: center;
}
.nav-btn {
	z-index: 99999;
}
.nav-bar {
	position: absolute;
	display: none;
	z-index: 1;
	width: 100%;
}
.nav-bar-menu{
	background: #000;
}
.header__logo {
	position: absolute;	
	width: 75%;
	right: 0;
	left: 0;
	margin: auto;
	top: 16%;
	display: none;
}
.header__item--text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 43%;
	display: none;
}
.header__item h2 {
	font-size: 2.2rem;
	letter-spacing: 0.4rem;
}
.header__item--place {
	font-size: 0.8rem;
	letter-spacing: 0.4rem;
	padding-top: 2%;
}
.header__item--placeP {
	padding-top: 1%;
}
.header__item--box {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	right: 0;
	left: 0;
	bottom: 30%;
	background: #eee;
	width: 60%;
	color: #007540;
	line-height: 1.2;
	display: none;
}
.header__item--box a {
	display: block;
	color: #007540;
	text-decoration: none;
	padding: 3% 0;
}
.header__item--price {

}
.header__item--priceP {
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
}
.ceo__son {
	position: absolute;
	bottom: 24%;
	text-align: center;	
	margin: 0 auto;
	right: 0;
	left: 0;
	font-size: 0.5rem;
	line-height: 1.4;
	letter-spacing: 0.1rem;
	display: none;
}
.header__arrow a {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
	padding-top: 60px;
	color: #ddd;
}
.header__arrow a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
/* 
 * article
 * =======================================================================================
 */

.article {
	height: 100vh;
}
.about {
	background: #455693;
	height: 90vh;
	color: #ddd;
	padding: 15% 5%;
	overflow: hidden;
}
h3 {
	font-size: 2rem;
	text-align: center;
}
h4 {
	font-size: 1.6rem;
	text-align: center;
}
h4 span {
	font-size: 1rem;
	color: #bbb;
}
.about__p {
	padding-top: 5%;
	font-weight: lighter;
	font-size: 0.8rem;
	line-height: 1.6rem;
}
.slide {
	padding: 5% 0;
	color: #ddd;
}
.slide__01 {
	background: #555;
}
.slide__02 {
	background: #777;
}
.slide__03 {
	background: #999;
}
.slide__text {
	width: 90%;
	margin: 0 auto;
	padding-top: 5%;
	font-size: 0.8rem;
	line-height: 1.6rem;
}
.area {
	padding: 15% 5% 0;
	height: 90vh;
	background: #009294;
	color: #ddd;
}
.area__text {
	padding-top: 5%;
	font-size: 0.8rem;
	line-height: 1.6rem;
}
/* 
 * footer
 * =======================================================================================
 */

.footer {
}

/* 
 * togule buttom
 * =======================================================================================
 */
#panel-btn{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 20px 0 10px;
  border-radius: 50%;
}
#panel-btn-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  margin: -1px 0 0 -7px;
  transition: .2s;
}
#panel-btn-icon:before, #panel-btn-icon:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 2px;
  background: #eee;
  transition: .3s;
}
#panel-btn-icon:before{
  margin-top: -8px;
}
#panel-btn-icon:after{
  margin-top: 6px;
}
#panel-btn .close{
  background: transparent;
}
#panel-btn .close:before, #panel-btn .close:after{
  margin-top: 0;
}
#panel-btn .close:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#panel-btn .close:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#panel-btn{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 20px 0 10px;
  border-radius: 50%;
}
#panel-btn-icon{
  display: block;
  position: absolute;
  top: 50%;
  width: 18px;
  height: 2px;
  background: #eee;
  transition: .2s;
}