/*==============================================

    6. FOOTER

==============================================*/
/*==============================================
    6-1. l-footer
==============================================*/
.l-footer {
    padding: 2em 0;
}
.l-footer__bunner {
    margin: -2em 0 7em;
}
.l-footer__bunner__btn {
    text-align: center;
    width: 80%;
    margin: 0 auto 2em;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50px;
    @include mq(md) {
        width: 460px;
    }
}
.l-footer__bunner__btn a {
    display: block;
    padding: 1em 0;
    color: $BACKGROUND_COLOR_1;
    @include ff-notosans-700;
    @include s-font-size(16px);
    @include mq(md) {
        padding: 1.2em 0;
        @include l-font-size(18px);
    }
}
.l-footer__language {
    z-index: 15;
    text-align: center;
    position: fixed;
    width: 30%;
    margin: 0 auto;
    bottom: 5%;
    right: 5%;
    border-radius: 50px;
    background-color: #ffffff;
    @include mq(md) {
        width: 150px;
    }
}
.l-footer__language a {
    display: block;
    padding: 1em 0;
    color: $BACKGROUND_COLOR_1;
    @include ff-notosans-700;
    @include s-font-size(12px);
    @include mq(md) {
        padding: 1em 0;
        @include l-font-size(13px);
    }
}
.l-footer__copyright {
    text-align: center;
    @include ff-notosans-400;
    @include s-font-size(10px);
    @include mq(md) {
        @include l-font-size(11px);
    }
}