/*==============================================

    5. HEADER

==============================================*/
/*==============================================
    5-1. l-header
==============================================*/
.l-header {
    z-index: 25;
    position: relative;
    width: 100%;
    padding: .8em 4%;
    box-sizing: border-box;
    @include mq(md) {
        max-width: 1400px;
        margin: 0 auto;
        padding: 1em 3em;
    }
}
.l-header__logo {
    @include mq(md) {
        margin-left: -4px;
    }
}
.l-header__btn--cover {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    @include mq(md) {
        max-width: 1400px;
    }
}
.l-header__btn {
    z-index: 100;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    right: 3%;
    cursor: pointer;
    @include mq(md) {
        top: .6em;
        right: 36px;
    }
}
.l-header__btn span {
    position: absolute;
    width: 36px;
    height: 2px;
    top: 22px;
    right: 0;
    left: 0;
    margin: auto;
    background: $FONTCOLOR none no-repeat scroll top left;
    border-radius: 4px;
    transition: all .4s ease 0s;
    &::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 2px;
        top: 6px;
        background: $FONTCOLOR none no-repeat scroll top left;
        border-radius: 4px;
        transition: all .3s ease 0s;
    }
    &::after {
        content: '';
        position: absolute;
        width: 36px;
        height: 2px;
        top: -6px;
        background: $FONTCOLOR none no-repeat scroll top left;
        border-radius: 4px;
        transition: all .3s ease 0s;
    }
}
.js-active.l-header__btn span {
    transform: translateX(4px);
    background: #ffffff none no-repeat scroll top left;
    &::before {
        transform: translateX(-4px) rotate(45deg);
        background: $BACKGROUND_COLOR_1 none no-repeat scroll top left;
        top: 0;
    }
    &::after {
        transform: translateX(-4px) rotate(-45deg);
        background: $BACKGROUND_COLOR_1 none no-repeat scroll top left;
        top: 0;
    }
}
.l-header__gnav {
    z-index: 50;
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 5em 0;
    overflow: scroll;
    background-color: $FONTCOLOR;
}
.l-header__gnav__inner {
    @include mq(md) {
        max-width: 1400px;
        margin: 0 auto;
    }
}
.l-nav {
    width: 80%;
    margin: 0 auto;
    @include mq(md) {
        width: 80%;
        padding-top: 3em;
        border-top: 1px solid #f0f0f0;
    }
}
.l-nav__ul {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.l-nav__ul::before {
    @include mq(md) {
        content: "";
        display: block;
        width: 25%;
        order: 1;
    }
}
.l-nav__ul::after {
    @include mq(md) {
        content: "";
        display: block;
        width: 25%;
    }
}
.l-nav__ul__item {
    position: relative;
    padding: 1em 0 1em 1em;
    border-bottom: 2px solid #f0f0f0;
    @include ff-notosans-400;
    @include s-font-size(14px);
    @include mq(md) {
        width: 25%;
        padding: .5em 0 1em 1.5em;
        border-bottom: none;
        box-sizing: border-box;
        @include l-font-size(16px);
    }
}
.l-nav__ul__item:nth-child(1) {
    border-top: 2px solid #f0f0f0;
    @include mq(md) {
        border-top: none;
    }
}
.l-nav__ul__item::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 14px;
    top: 18px;
    left: 0;
    background-color: $BACKGROUND_COLOR_1;
    @include mq(md) {
        width: 5px;
        height: 21px;
        top: 9px;
    }
}
.l-nav__ul__item a {
    display: block;
    color: $BACKGROUND_COLOR_1;
}
.l-nav__ul__item[data-index="price"]::before {
    background-color: $BACKGROUND_COLOR_2;
    a {color: $BACKGROUND_COLOR_2;}
}
.l-nav__ul__item[data-index="news"]::before {
    background-color: $BACKGROUND_COLOR_3;
    a {color: $BACKGROUND_COLOR_3;}
}

.l-header__laungage {
    margin: 3em 0;
    @include mq(md) {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }
}
.l-header__laungage__btn {
    width: 68%;
    margin: 0 auto;
    border: 1px solid $BACKGROUND_COLOR_1;
    @include mq(md) {
        width: 200px;
        margin: 1.5em 1.5em 1.5em 0 !important;
    }
}
.l-header__laungage__btn.c-btn {
    width: 68%;
    margin: 0 auto;
    border: 1px solid $BACKGROUND_COLOR_1;
    @include mq(md) {
        width: 180px;
        margin: 1.5em 1.5em 1.5em 0 !important;
    }
}
.l-header__laungage__btn.c-btn a {
    color: $BACKGROUND_COLOR_1;
}

/*==============================================
    5-2. l-header ENGLISH
==============================================*/
.home-en-index, 
.price-en-index,
.news-en-index {
    @include ff-roboto-400;

    .l-nav__ul__item {
        @include ff-roboto-400;
        @include s-font-size(14px);
        @include mq(md) {
            @include l-font-size(16px);
        }
    }
}

/*==============================================
    5-X. HEADER LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.home .l-header__logo {
    // display: none;
}