/*==============================================

    4. LAYOUT

==============================================*/

/*==============================================
    4-1. LAYOUT LIMIT
==============================================*/
.l-limit {
	// background-color: #fff;
	margin: 0 auto;
	@include mq(md) {
		box-sizing: border-box;
		min-width: 1000px;
        max-width: 1400px;
	}
}

/*==============================================
    4-2. LAYOUT FRAME
==============================================*/
.l-frame--full {
	width: 100%;
}
.l-frame {
	width: 85.33333333%; // 320px / 375px
    margin: 0 auto;
	@include mq(md) {
        width: 83.33333333%; // 1000px / 1200px
	}
}
.l-frame--sm {
    width: 100%; // 320px / 375px
    margin: 0 auto;
	@include mq(md) {
        width: 64%; // 640px / 1000px
	}
}
.l-frame--md {
    width: 100%; // 320px / 375px
    margin: 0 auto;
	@include mq(md) {
        width: 82.4%; // 824px / 1000px
	}
}

.l-pcframe {
    width: 100%;
    margin: 0 auto;
    @include mq(md) {
        width: 80%; // 960px / 1200px
    }
}
.l-pcframe--md {
    width: 100%;
    margin: 0 auto;
    @include mq(md) {
        width: 82.5%; // 792px / 960px
    }
}

/*==============================================
    4-3. LAYOUT COLUMNS
==============================================*/
.l-col {
	@include mq(md) {
		display: flex;
		justify-content: space-between;
	}
}
.l-col__item {
    width: 100%;
    margin: 0 auto;
    @include mq(md) {
        width: 50%;
    }
}
.l-col__2 {
	@include mq(md) {
		@include percentage(600, 1200);
	}
}
.l-col__3 {
    @include mq(md) {
        @include percentage(400, 1200);
    }
}
.l-col__4 {
    @include mq(md) {
        @include percentage(300, 1200);
    }
}
.l-col--fw {
    flex-wrap: wrap;
}
.l-col--rr {
    flex-direction: row-reverse;
}

/*==============================================
    4-X. LAYOUT XXXXXX
==============================================*/