//- -------------------------------------------------------------------------------------------------
- var key = "price";
- var meta = "price-index"

include ../include/_mixin.pug
- var rootPath = '../'
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../include/_gtag.pug
        include ../include/_head.pug
        include ../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../include/_header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        h1.c-h2: span 料金表
                        table.t-table
                            tr.t-table__heading
                                th.t-table__heading__name 品名
                                th 通常
                                th お急ぎ
                                th デラックス
                            - 
                                var prices = [
                                    {
                                        name: 'Yシャツ',
                                        price01: '240円~',
                                        price02: '440円~',
                                        price03: '500円~',
                                    },
                                    {
                                        name: 'スラックス',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'スカート',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'ロングスカート',
                                        price01: '800円~',
                                        price02: '-',
                                        price03: '-',
                                    },
                                    {
                                        name: 'ブラウス',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                ];
                            each price in prices
                                tr
                                    td.t-table__heading__name #{price.name}
                                    td #{price.price01}
                                    td #{price.price02}
                                    td #{price.price03}
                        p.c-note ※記載してあるのは基本情報のみです、その他商品は店頭にてご確認くださいませ。
                            br
                            |※1枚あたりの値段です。
                            br
                            |※税抜き価格での表示です。
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "index.html") トップページへ戻る


            include ../include/_footer.pug

        include ../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------