@charset "UTF-8";
/*==============================================

    0. STYLE SHEET

==============================================*/
/*==============================================

    1. RESET

==============================================*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img {
	border: none;
	vertical-align: top;
}

/*==============================================

    2. SETTING MIXIN

==============================================*/
/*==============================================
    2-1. mixins
==============================================*/
/* font family */
/*==============================================

    3. BASE

==============================================*/
html {
	font-size: 14px;
}

@media screen and (min-width: 769px) {
	html {
		font-size: 15px;
	}
}

body {
	font-family: 'Roboto', 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: .06em;
	background-color: #ffffff;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

a:link, a:visited {
	color: #ffffff;
}

a:hover {
	opacity: .7;
}

a[data-rel="external"]:after {
	content: '';
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-left: .5em;
	background: transparent url("../image/icon-external.png") no-repeat scroll center center;
	background-size: contain;
	margin-right: .5em;
}

/*==============================================

    4. LAYOUT

==============================================*/
/*==============================================
    4-1. LAYOUT LIMIT
==============================================*/
.l-limit {
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-limit {
		box-sizing: border-box;
		min-width: 1000px;
		max-width: 1400px;
	}
}

/*==============================================
    4-2. LAYOUT FRAME
==============================================*/
.l-frame--full {
	width: 100%;
}

.l-frame {
	width: 85.33333333%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-frame {
		width: 83.33333333%;
	}
}

.l-frame--sm {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-frame--sm {
		width: 64%;
	}
}

.l-frame--md {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-frame--md {
		width: 82.4%;
	}
}

.l-pcframe {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-pcframe {
		width: 80%;
	}
}

.l-pcframe--md {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-pcframe--md {
		width: 82.5%;
	}
}

/*==============================================
    4-3. LAYOUT COLUMNS
==============================================*/
@media screen and (min-width: 769px) {
	.l-col {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
}

.l-col__item {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-col__item {
		width: 50%;
	}
}

@media screen and (min-width: 769px) {
	.l-col__2 {
		width: 50%;
	}
}

@media screen and (min-width: 769px) {
	.l-col__3 {
		width: 33.33333%;
	}
}

@media screen and (min-width: 769px) {
	.l-col__4 {
		width: 25%;
	}
}

.l-col--fw {
	flex-wrap: wrap;
}

.l-col--rr {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	flex-direction: row-reverse;
}

/*==============================================
    4-X. LAYOUT XXXXXX
==============================================*/
/*==============================================

    5. HEADER

==============================================*/
/*==============================================
    5-1. l-header
==============================================*/
.l-header {
	z-index: 25;
	position: relative;
	width: 100%;
	padding: .8em 4%;
	box-sizing: border-box;
}

@media screen and (min-width: 769px) {
	.l-header {
		max-width: 1400px;
		margin: 0 auto;
		padding: 1em 3em;
	}
}

@media screen and (min-width: 769px) {
	.l-header__logo {
		margin-left: -4px;
	}
}

.l-header__btn--cover {
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
}

@media screen and (min-width: 769px) {
	.l-header__btn--cover {
		max-width: 1400px;
	}
}

.l-header__btn {
	z-index: 100;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	right: 3%;
	cursor: pointer;
}

@media screen and (min-width: 769px) {
	.l-header__btn {
		top: .6em;
		right: 36px;
	}
}

.l-header__btn span {
	position: absolute;
	width: 36px;
	height: 2px;
	top: 22px;
	right: 0;
	left: 0;
	margin: auto;
	background: #ffffff none no-repeat scroll top left;
	border-radius: 4px;
	-webkit-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}

.l-header__btn span::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 2px;
	top: 6px;
	background: #ffffff none no-repeat scroll top left;
	border-radius: 4px;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.l-header__btn span::after {
	content: '';
	position: absolute;
	width: 36px;
	height: 2px;
	top: -6px;
	background: #ffffff none no-repeat scroll top left;
	border-radius: 4px;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.js-active.l-header__btn span {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
	background: #ffffff none no-repeat scroll top left;
}

.js-active.l-header__btn span::before {
	-webkit-transform: translateX(-4px) rotate(45deg);
	transform: translateX(-4px) rotate(45deg);
	background: #007540 none no-repeat scroll top left;
	top: 0;
}

.js-active.l-header__btn span::after {
	-webkit-transform: translateX(-4px) rotate(-45deg);
	transform: translateX(-4px) rotate(-45deg);
	background: #007540 none no-repeat scroll top left;
	top: 0;
}

.l-header__gnav {
	z-index: 50;
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 5em 0;
	overflow: scroll;
	background-color: #ffffff;
}

@media screen and (min-width: 769px) {
	.l-header__gnav__inner {
		max-width: 1400px;
		margin: 0 auto;
	}
}

.l-nav {
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.l-nav {
		width: 80%;
		padding-top: 3em;
		border-top: 1px solid #f0f0f0;
	}
}

@media screen and (min-width: 769px) {
	.l-nav__ul {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 769px) {
	.l-nav__ul::before {
		content: "";
		display: block;
		width: 25%;
		-webkit-box-ordinal-group: 2;
		order: 1;
	}
}

@media screen and (min-width: 769px) {
	.l-nav__ul::after {
		content: "";
		display: block;
		width: 25%;
	}
}

.l-nav__ul__item {
	position: relative;
	padding: 1em 0 1em 1em;
	border-bottom: 2px solid #f0f0f0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.l-nav__ul__item {
		width: 25%;
		padding: .5em 0 1em 1.5em;
		border-bottom: none;
		box-sizing: border-box;
		font-size: 1.06667rem;
		line-height: 1.5;
	}
}

.l-nav__ul__item:nth-child(1) {
	border-top: 2px solid #f0f0f0;
}

@media screen and (min-width: 769px) {
	.l-nav__ul__item:nth-child(1) {
		border-top: none;
	}
}

.l-nav__ul__item::before {
	position: absolute;
	content: '';
	width: 4px;
	height: 14px;
	top: 18px;
	left: 0;
	background-color: #007540;
}

@media screen and (min-width: 769px) {
	.l-nav__ul__item::before {
		width: 5px;
		height: 21px;
		top: 9px;
	}
}

.l-nav__ul__item a {
	display: block;
	color: #007540;
}

.l-nav__ul__item[data-index="price"]::before {
	background-color: #455693;
}

.l-nav__ul__item[data-index="price"]::before a {
	color: #455693;
}

.l-nav__ul__item[data-index="news"]::before {
	background-color: #009294;
}

.l-nav__ul__item[data-index="news"]::before a {
	color: #009294;
}

.l-header__laungage {
	margin: 3em 0;
}

@media screen and (min-width: 769px) {
	.l-header__laungage {
		width: 80%;
		margin: 0 auto;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: start;
		justify-content: flex-start;
	}
}

.l-header__laungage__btn {
	width: 68%;
	margin: 0 auto;
	border: 1px solid #007540;
}

@media screen and (min-width: 769px) {
	.l-header__laungage__btn {
		width: 200px;
		margin: 1.5em 1.5em 1.5em 0 !important;
	}
}

.l-header__laungage__btn.c-btn {
	width: 68%;
	margin: 0 auto;
	border: 1px solid #007540;
}

@media screen and (min-width: 769px) {
	.l-header__laungage__btn.c-btn {
		width: 180px;
		margin: 1.5em 1.5em 1.5em 0 !important;
	}
}

.l-header__laungage__btn.c-btn a {
	color: #007540;
}

/*==============================================
    5-2. l-header ENGLISH
==============================================*/
.home-en-index,
.price-en-index,
.news-en-index {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.home-en-index .l-nav__ul__item,
.price-en-index .l-nav__ul__item,
.news-en-index .l-nav__ul__item {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.home-en-index .l-nav__ul__item,
	.price-en-index .l-nav__ul__item,
	.news-en-index .l-nav__ul__item {
		font-size: 1.06667rem;
		line-height: 1.5;
	}
}

/*==============================================
    5-X. HEADER LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
/*==============================================

    6. FOOTER

==============================================*/
/*==============================================
    6-1. l-footer
==============================================*/
.l-footer {
	padding: 2em 0;
}

.l-footer__bunner {
	margin: -2em 0 7em;
}

.l-footer__bunner__btn {
	text-align: center;
	width: 80%;
	margin: 0 auto 2em;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 50px;
}

@media screen and (min-width: 769px) {
	.l-footer__bunner__btn {
		width: 460px;
	}
}

.l-footer__bunner__btn a {
	display: block;
	padding: 1em 0;
	color: #007540;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1.14286rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.l-footer__bunner__btn a {
		padding: 1.2em 0;
		font-size: 1.2rem;
		line-height: 1.5;
	}
}

.l-footer__language {
	z-index: 15;
	text-align: center;
	position: fixed;
	width: 30%;
	margin: 0 auto;
	bottom: 5%;
	right: 5%;
	border-radius: 50px;
	background-color: #ffffff;
}

@media screen and (min-width: 769px) {
	.l-footer__language {
		width: 150px;
	}
}

.l-footer__language a {
	display: block;
	padding: 1em 0;
	color: #007540;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 0.85714rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.l-footer__language a {
		padding: 1em 0;
		font-size: 0.86667rem;
		line-height: 1.5;
	}
}

.l-footer__copyright {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 0.71429rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.l-footer__copyright {
		font-size: 0.73333rem;
		line-height: 1.5;
	}
}

/*==============================================

    7. COMPONENT

==============================================*/
/*==============================================
    7-1. COMPONENT TEXT
==============================================*/
/*!
---
name: 見出し/テキスト
category:
  - object/component
---

```jade
.c-h1 見出し
.c-h2 見出し
.c-h3 見出し
.c-p 見出し
.c-note 見出し
```
*/
.c-h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.14286rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-h1 {
		font-size: 1.6rem;
		line-height: 1.5;
	}
}

.c-h2 {
	text-align: center;
	margin-bottom: 3em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1.42857rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-h2 {
		margin-bottom: 3em;
		font-size: 1.6rem;
		line-height: 1.5;
	}
}

.c-h2 span {
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 3px solid #ffffff;
}

.c-h2[data-view="ttl"] span {
	-webkit-transform: translateY(60px);
	transform: translateY(60px);
	overflow: hidden;
}

.c-h3 {
	text-align: center;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.14286rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-h3 {
		font-size: 1.2rem;
		line-height: 1.5;
	}
}

.c-p {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.85714;
}

@media screen and (min-width: 769px) {
	.c-p {
		font-size: 0.93333rem;
		line-height: 1.85714;
	}
}

.c-note {
	color: #cccccc;
	margin-top: .5em;
	font-size: 0.71429rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-note {
		font-size: 0.73333rem;
		line-height: 1.5;
	}
}

.js-view.c-h2[data-view="ttl"] span {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/*==============================================
    7-2. COMPONENT BUTTON
==============================================*/
.c-btn {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ffffff;
	border-radius: 50px;
}

@media screen and (min-width: 769px) {
	.c-btn {
		width: 220px;
	}
}

.c-btn a {
	display: block;
	padding: .6em 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 0.85714rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-btn a {
		padding: .7em 0;
		font-size: 0.86667rem;
		line-height: 1.5;
	}
}

/*==============================================
    7-3. COMPONENT SECTION
==============================================*/
.c-article {
	margin: 6em 0;
}

@media screen and (min-width: 769px) {
	.c-article {
		margin: 8em 0;
	}
}

.c-article__image {
	position: relative;
}

.c-article__image::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.c-article__image__catch {
	text-align: center;
	display: block;
	width: 100%;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1.42857rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-article__image__catch {
		letter-spacing: .06em;
		font-size: 2.66667rem;
		line-height: 1.5;
	}
}

.c-section {
	margin: 6em 0;
}

@media screen and (min-width: 769px) {
	.c-section {
		margin: 8em 0;
	}
}

.c-section__image {
	position: relative;
}

.c-section__image::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.c-section__image__catch {
	text-align: center;
	display: block;
	width: 100%;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1.42857rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.c-section__image__catch {
		letter-spacing: .06em;
		font-size: 2.66667rem;
		line-height: 1.5;
	}
}

/*==============================================
    7-4. COMPONENT DATA-VIEW
==============================================*/
[data-view="ttl"],
[data-view="ttl"] span {
	-webkit-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	will-change: transform;
}

[data-view="up"] {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: all .4s ease .2s;
	transition: all .4s ease .2s;
	will-change: opacity, transform;
}

.js-view[data-view="up"] {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	will-change: opacity, transform;
}

[data-view="scale"] {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-transition: all .4s ease .2s;
	transition: all .4s ease .2s;
	will-change: transform;
}

.js-view[data-view="scale"] {
	-webkit-transform: scale(1);
	transform: scale(1);
	will-change: transform;
}

/*==============================================
    7-X. COMPONENT XXXXXX
==============================================*/
/*==============================================

    ?. UTILITY

==============================================*/
.u-hidden {
	display: none;
}

@media (max-width: 480px) {
	.u-hidden-sp {
		display: none;
	}
}

@media (min-width: 481px) {
	.u-hidden-pc {
		display: none;
	}
}

.u-eventnone {
	pointer-events: none;
	opacity: .6;
}

.u-left {
	text-align: left;
}

.u-center {
	text-align: center;
}

.u-right {
	text-align: right;
}

.u-red {
	color: #E38692;
}

.u-blue {
	color: #6EB7DB;
}

.u-green {
	color: #64C99B;
}

.u-orenge {
	color: #EDA184;
}

.u-bg--red {
	background-color: #E38692;
}

.u-bg--blue {
	background-color: #6EB7DB;
}

.u-bg--green {
	background-color: #64C99B;
}

.u-bg--orange {
	background-color: #EDA184;
}

.u-bg--accent {
	background-color: #ffffff;
}

/*==============================================

    8. THEME HOME

==============================================*/
.home {
	background-color: #007540;
	color: #ffffff;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

/*==============================================
    8-1. HOME MAIN
==============================================*/
.t-hero {
	position: relative;
	width: 100%;
	height: calc(85vh - 46px);
	box-sizing: border-box;
}

@media screen and (min-width: 769px) {
	.t-hero {
		max-width: 1400px;
		min-width: 1000px;
		height: calc(100vh - 66px);
		margin: 0 auto;
	}
}

.t-hero__inner {
	width: 96%;
	margin-top: -3em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 769px) {
	.t-hero__inner {
		margin-top: -4em;
	}
}

.t-hero__inner__logo {
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.t-hero__inner__logo {
		width: 300px;
	}
}

.t-hero__inner__lead {
	text-align: center;
	margin: 2em 0;
	font-size: 0.92857rem;
	line-height: 2;
}

@media screen and (min-width: 769px) {
	.t-hero__inner__lead {
		margin: 2em 0;
		font-size: 1rem;
		line-height: 2;
	}
}

.t-hero__inner__link {
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.t-hero__inner__link {
		display: -webkit-box;
		display: flex;
		width: 500px;
	}
}

.t-hero__inner__link li {
	margin-bottom: 1.5em;
}

@media screen and (min-width: 769px) {
	.t-hero__inner__link li {
		margin-bottom: 0;
	}
}

[data-loaded] {
	opacity: 0;
}

/*==============================================
    8-2. HOME NEWS
==============================================*/
.t-news {
	z-index: 1;
	position: absolute;
	width: 83.3%;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #ffffff;
	color: #007540;
	bottom: 1em;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	box-sizing: border-box;
}

@media screen and (min-width: 769px) {
	.t-news {
		max-width: 1400px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 1.5em 0;
		bottom: 2em;
	}
}

.t-news__ticker {
	position: relative;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.t-news__ticker__table {
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;
}

.t-news__ticker__table tr {
	display: none;
	width: 100%;
}

.t-news__ticker__table tr th {
	display: block;
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 0.85714rem;
	line-height: 1.66667;
}

@media screen and (min-width: 769px) {
	.t-news__ticker__table tr th {
		display: inline-block;
		font-size: 0.8rem;
		line-height: 1.83333;
	}
}

.t-news__ticker__table tr td {
	display: block;
	box-sizing: border-box;
	word-wrap: break-word;
	padding: .5em 0 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 0.71429rem;
	line-height: 1.8;
}

@media screen and (min-width: 769px) {
	.t-news__ticker__table tr td {
		display: inline-block;
		padding: 0 0 0 2em;
		font-size: 0.8rem;
		line-height: 1.83333;
	}
}

.t-news__ticker__table tr td a {
	display: block;
	width: 98%;
	color: #007540;
	text-decoration: underline;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (min-width: 769px) {
	.t-news__ticker__table tr td a {
		width: 100%;
	}
}

.t-news__ticker ul {
	width: 100%;
	position: relative;
}

.t-news__ticker ul li {
	width: 100%;
	display: none;
}

/*==============================================
    8-3. HOME HELLO
==============================================*/
.t-hello__message {
	overflow: hidden;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 1.07143rem;
	line-height: 2;
}

@media screen and (min-width: 769px) {
	.t-hello__message {
		text-align: center;
		font-size: 1.33333rem;
		line-height: 2.2;
	}
}

/*==============================================
    8-4. HOME CASE
==============================================*/
@media screen and (min-width: 769px) {
	.t-case {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.t-case__item {
	margin-bottom: 3em;
}

@media screen and (min-width: 769px) {
	.t-case__item {
		width: 23%;
		margin-bottom: 0;
	}
}

.t-case__item__icon {
	width: 16%;
	margin: 1em auto;
}

@media screen and (min-width: 769px) {
	.t-case__item__icon {
		width: 28%;
		margin: 0 auto 2em;
	}
}

.t-group {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 6em;
}

@media screen and (min-width: 769px) {
	.t-group {
		margin-top: 6em;
	}
}

.t-group__icon {
	width: 16%;
}

@media screen and (min-width: 769px) {
	.t-group__icon {
		width: 10%;
	}
}

.t-group__textbox {
	width: 78%;
	margin-top: -4px;
}

@media screen and (min-width: 769px) {
	.t-group__textbox {
		width: 84%;
		margin-top: -6px;
	}
}

/*==============================================
    8-5. HOME EMPHASIS
==============================================*/
.t-emphasis {
	padding: 3.5em 0;
	color: #007540;
}

.t-emphasis .c-h2 span {
	border-bottom: 3px solid #007540;
}

@media screen and (min-width: 769px) {
	.t-emphasis {
		padding: 6em 0;
	}
}

.t-emphasis__list__item {
	margin-bottom: 1em;
	font-size: 1rem;
	line-height: 1.85714;
}

@media screen and (min-width: 769px) {
	.t-emphasis__list__item {
		font-size: 1.06667rem;
		line-height: 1.875;
	}
}

/*==============================================
    8-6. HOME ACCESS
==============================================*/
.t-access {
	width: 100%;
}

.t-access__table {
	margin-bottom: 2em;
}

@media screen and (min-width: 769px) {
	.t-access__table {
		width: 44%;
		margin-bottom: 0;
	}
}

.t-access__table tr {
	display: -webkit-box;
	display: flex;
	width: 100%;
	vertical-align: middle;
	margin: 0 0 1em 0;
}

.t-access__table tr th {
	display: inline-block;
	width: 30%;
	padding-right: 1em;
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.t-access__table tr th {
		font-size: 1rem;
		line-height: 1.5;
	}
}

.t-access__table tr td {
	display: inline-block;
	width: 70%;
	box-sizing: border-box;
	word-wrap: break-word;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.t-access__table tr td {
		font-size: 1rem;
		line-height: 1.5;
	}
}

@media screen and (min-width: 769px) {
	.t-access__map {
		width: 51.4%;
	}
}

.t-access__map iframe {
	width: 100%;
	height: 300px;
}

@media screen and (min-width: 769px) {
	.t-access__map iframe {
		height: 250px;
	}
}

/*==============================================
    8-7. HOME LINE STAMP
==============================================*/
.t-stamp {
	margin: 0 auto;
}

@media screen and (min-width: 769px) {
	.t-stamp {
		width: 460px;
	}
}

.t-stamp a {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	background-color: #0DB203;
	margin-bottom: 1.5em;
}

.t-stamp__image {
	width: 35%;
}

.t-stamp__title {
	position: relative;
	width: 65%;
}

.t-stamp__title p {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	background-color: #0DB203;
	padding: 0 1em;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	font-size: 1.07143rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.t-stamp__title p {
		font-size: 1.46667rem;
		line-height: 1.5;
	}
}

.t-stamp__title span {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.92857rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.t-stamp__title span {
		font-size: 1.33333rem;
		line-height: 1.5;
	}
}

/*==============================================
    8-8. HOME ENGLISH PAGE
==============================================*/
.home-en-index {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.home-en-index .t-news__ticker__table tr th {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.85714rem;
	line-height: 1.66667;
}

@media screen and (min-width: 769px) {
	.home-en-index .t-news__ticker__table tr th {
		font-size: 0.8rem;
		line-height: 1.83333;
	}
}

.home-en-index .t-news__ticker__table tr td {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.71429rem;
	line-height: 1.8;
}

@media screen and (min-width: 769px) {
	.home-en-index .t-news__ticker__table tr td {
		font-size: 0.8rem;
		line-height: 1.83333;
	}
}

.home-en-index .t-hello__message {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.07143rem;
	line-height: 2;
}

@media screen and (min-width: 769px) {
	.home-en-index .t-hello__message {
		font-size: 1.33333rem;
		line-height: 2.2;
	}
}

.home-en-index .t-access__table tr th {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.home-en-index .t-access__table tr th {
		font-size: 1rem;
		line-height: 1.5;
	}
}

.home-en-index .t-stamp__title p {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.07143rem;
	line-height: 1.5;
}

@media screen and (min-width: 769px) {
	.home-en-index .t-stamp__title p {
		font-size: 1.46667rem;
		line-height: 1.5;
	}
}

/*==============================================
    8-X. HOME LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
