//- -------------------------------------------------------------------------------------------------
- var key = "home";
- var meta = "home-en-index"

include ../include/_mixin.pug
- var rootPath = '../'
- 
    var contents = [
        {
            title: 'Hand-finished service',
            image: '../image/icon_01.png',
            text: 'Established for 70 years, we are a local-based dry cleaning service.',
            note: '',
        },
        {
            title: 'Express service',
            image: '../image/icon_02.png',
            text: 'Dry cleaning items that are dropped off in the morning can be collected in the evening.<br>Business shirts can be collected within a day after we have received them.',
            note: '*Please wait until the afternoon.<br>*We will charge 200yen if you want to collect the item within the same day.',
        },
        {
            title: 'Repairs &amp; Alterations',
            image: '../image/icon_03.png',
            text: 'We do length alterrations for trousers and skirts and waist Alteration. The processs takes 1 week.',
            note: '',
        },
        {
            title: 'Delivery',
            image: '../image/icon_04.png',
            text: 'We will deliver seasonal cleanings such as curtains, blankets, duverts, carpets and seasonal change of clothes.',
            note: '',
        },
    ]
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../include/_gtag.pug
        include ../include/_head.pug
        include ../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key, class=meta)
        .l-limit
            include ../include/_en-header.pug


            //- Let's Enjoy Coding!!
            .l-container#app
                .t-hero
                    .t-hero__inner
                        h1.t-hero__inner__logo(data-loaded="1"): img(src=rootPath + "image/logo.png", alt="ツクバクリーニング Tsukuba cleaning, Sangubashi, Yoyogi, Shibuya")
                        h2.t-hero__inner__lead(data-loaded="2") Established for 70 years, 
                            br.u-hidden-pc
                            |we are a local-based dry cleaning service.
                            br
                            |"Hand-finished service, Express service, 
                            br.u-hidden-pc
                            |Repairs &amp; Alterations, Delivery"
                        ul.t-hero__inner__link(data-loaded="3")
                            li.c-btn: a(href="price/index.html") Price List page 
                            li.c-btn: a(href="news/index.html") News

                    .t-news(data-loaded="4")
                        .l-frame
                            .t-news__ticker(rel="roll")
                                table.t-news__ticker__table
                                    tr
                                        th 2020.04.16
                                        td 
                                            a(href=rootPath + "en/news/index.html") Change of business hours for corona virus.
                                    tr
                                        th 2019.12.27
                                        td 
                                            a(href=rootPath + "en/news/index.html") About New Year holidays.
                                    tr
                                        th 2019.08.09
                                        td 
                                            a(href=rootPath + "en/news/index.html") About O-bon holiday.
                                    tr
                                        th 2019.04.16
                                        td 
                                            a(href=rootPath + "en/news/index.html") News page Opened. 
                                    tr
                                        th 2019.03.22
                                        td 
                                            a(href=rootPath + "en/index.html") English page is today available.
                                    tr
                                        th 2019.03.20
                                        td 
                                            a(href="https://line.me/S/sticker/7038815", target="_blank") We made LINE stamp of store's mascot dog!
                                    tr
                                        th 2019.03.11
                                        td 
                                            a(href="price/index.html") Price List page is today available.
                                    tr
                                        th 2019.03.10
                                        td Tsukuba Cleaning's website is today available.
                                    


                article.c-article#hello
                    .l-frame
                        .t-hello
                            h3.c-h2(data-view="ttl"): span Greetings
                            p.t-hello__message(data-view="up") Thank you for coming to Tsukuba Cleaning's homepage.
                                br.u-hidden-sp
                                |We run a community-based cleaning shop in Yoyogi, Sangubashi.


                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src=rootPath + "image/img_01_pc.jpg", alt="")
                        img.u-hidden-pc(src=rootPath + "image/img_01_sp.jpg", alt="")


                article.c-article#case
                    .l-frame
                        h3.c-h2(data-view="ttl"): span Services
                        ul.t-case
                            each content in contents
                                li.t-case__item
                                    h4.c-h3(data-view="up") !{content.title}
                                    .t-case__item__icon: img(src=content.image, alt="", data-view="scale")
                                    p.c-p(data-view="up") !{content.text}
                                    p.c-note(data-view="up") !{content.note}

                        .l-frame--sm
                            .t-group
                                .t-group__icon: img(src=rootPath + "image/icon_05.png", alt="", data-view="scale")
                                .t-group__textbox(data-view="up")
                                    h4.c-h3.u-left For companies
                                    p.c-p We cope with work clothes and uniforms cleaning. We need to confirm the number, goods, price, delivery date, etc. We will accept your request after the consultation.


                article.c-article#accent
                    .u-bg--accent
                        .l-frame
                            .l-frame--sm
                                .t-emphasis
                                    h3.c-h2(data-view="ttl"): span Notes
                                    ul.t-emphasis__list(data-view="up")
                                        li.t-emphasis__list__item Please consult to us regarding leather products for expensive goods. Please note that we may refuse depending on the condition of the product.


                article.c-article#access
                    .l-frame
                        .l-frame--md
                            h3.c-h2(data-view="ttl"): span Access / Business Hours
                            .t-access.l-col.l-col--rr
                                table.t-access__table(data-view="up")
                                    tr
                                        th Adress
                                        td 4-20-2, Yoyogi, Shibuya-ku, Tokyo
                                    tr
                                        th Nearest station
                                        td "Sangubashi Station" 2 minutes by foot
                                            br
                                            |"Hatsudai Station" 6 minutes by foot
                                            br
                                            |"Yoyogi Station" 12 minutes by foot
                                    tr
                                        th Regular holiday
                                        td Sunday and holidays
                                    tr
                                        th Business hours
                                        td 
                                            del 8:30 - 19:30
                                            br
                                            | 10:00 - 19:00
                                            br
                                            a(href="news/") Read detail about until corona virus.
                                    tr
                                        th Phone number
                                        td 03-3370-1928
                                    tr
                                        th Nearby facilities
                                        td National Olympics Memorial Youth Center
                                            br
                                            |Tokyo Opera City
                                            br
                                            |Bunka Fashion College
                                            br
                                            |Meiji Jingu
                                .t-access__map(data-view="up")
                                    .
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8884523335973!2d139.68934861491041!3d35.67974853766133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cccb10b540f%3A0x26688eae4c5b2f20!2z44CSMTUxLTAwNTMg5p2x5Lqs6YO95riL6LC35Yy65Luj44CF5pyo77yU5LiB55uu77yS77yQ4oiS77yS!5e0!3m2!1sja!2sjp!4v1551346346050" frameborder="0" style="border:0" allowfullscreen></iframe>


                article.c-article
                    .l-frame
                        h3.c-h2(data-view="ttl"): span LINE STAMP
                        .t-stamp(data-view="up")
                            a(href="https://line.me/S/sticker/7038815", target="_blank")
                                .t-stamp__image: img(src=rootPath + "image/img_linestamp.png", alt="")
                                .t-stamp__title: p Anko-san stamp
                                    br
                                    span 120yen
                            p.c-p We made LINE stamp of store's mascot dog! She name is "Anko".



                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src=rootPath + "image/img_02_pc.jpg", alt="")
                        img.u-hidden-pc(src=rootPath + "image/img_02_sp.jpg", alt="")
                        p.c-article__image__catch We are looking forward 
                            br.u-hidden-pc
                            |to you visiting our store.


            include ../include/_en-footer.pug

        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/" + (key) + ".js")
//- -------------------------------------------------------------------------------------------------