//- -------------------------------------------------------------------------------------------------
- var key = "news";
- var meta = "news-index"

include ../include/_mixin.pug
- var rootPath = '../'
- 
    var articles = [
        {
            date: '2020/04/16',
            title: '【重要】コロナウイルス感染症拡大防止に伴う営業時間の変更',
            text: '2020年4月16日（木）〜2020年5月6日（木）営業時間を10:00〜19:00に変更しております。',
            note: '※日・祝日は変わらず休み。<br>※ゴールデンウィーク中のお休みは、後日記載します。',
        },
        {
            date: '2019/12/27',
            title: '年末年始の日程',
            text: '2019年12月31日（火） 〜 2020年1月5日（日）までお休みさせていただきます。',
            note: '※2019年12月29日（日）は通常通りお休みです。<br>※2020年1月6日（月）から営業致します。',
        },
        {
            date: '2019/08/09',
            title: 'お盆休み日程',
            text: '8月11日（日） 〜 8月15日（木）までお休みさせていただきます。',
            note: '※8月16日（金）営業致します。',
        },
        {
            date: '2019/04/16',
            title: 'GW営業日のお知らせ',
            text: '4月27日(土) ○<br>4月28日(日) ×<br>4月29日(月) △<br>4月30日(火) △<br>5月1日(水) △<br>5月2日(木) △<br>5月3日(金) ×<br>5月4日(土) ×<br>5月5日(日) ×<br>5月6日(月) △<br><br>上記の日程になります。',
            note: '※○は営業日、×は定休日となります。<br>※△は8:30〜18:00までの営業となっておりますのでご了承くださいませ。',
        },
        {
            date: '2019/03/22',
            title: '<a href="../en/index.html">英語ページを公開しました。English page is today available.</a>',
            text: '',
            note: '',
        },
        {
            date: '2019/03/20',
            title: '<a href="https://line.me/S/sticker/7038815" target="_blank">LINEスタンプ作りました！</a>',
            text: '',
            note: '',
        },
        {
            date: '2019/03/11',
            title: '<a href="../price/index.html">料金表ページ開設しました。</a>',
            text: '',
            note: '',
        },
        {
            date: '2019/03/10',
            title: 'ツクバクリーニングのホームページを公開しました。',
            text: '',
            note: '',
        },
    ];
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../include/_gtag.pug
        include ../include/_head.pug
        include ../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../include/_header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        .l-frame--md
                            h1.c-h2: span ニュース
                            each article in articles
                                dl.t-news
                                    dt.t-news__date 
                                        h2 !{article.date}
                                    dd.t-news__content
                                        h3
                                            b !{article.title}
                                            span !{article.text}
                                            small !{article.note}
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "index.html") トップページへ戻る


            include ../include/_footer.pug

        include ../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------