@import "_common.scss";
/*==============================================

    8. THEME HOME

==============================================*/
.home {
    background-color: #007540;
    color: $FONTCOLOR;
    @include ff-notosans-400;
}

/*==============================================
    8-1. HOME MAIN
==============================================*/
.t-hero {
    position: relative;
    width: 100%;
    height: calc(85vh - 46px);
    box-sizing: border-box;
    @include mq(md) {
        max-width: 1400px;
        min-width: 1000px;
        height: calc(100vh - 66px);
        margin: 0 auto;
    }
}
.t-hero__inner {
    width: 96%;
    margin-top: -3em;
    @include center(xy);
    @include mq(md) {
        margin-top: -4em;
    }
}
.t-hero__inner__logo {
    width: 80%;
    margin: 0 auto;
    @include mq(md) {
        width: 300px;
    }
}
.t-hero__inner__lead {
    text-align: center;
    margin: 2em 0;
    @include s-font-size(13px, 26px);
    @include mq(md) {
        margin: 2em 0;
        @include l-font-size(15px, 30px);
    }
}
.t-hero__inner__link {
    margin: 0 auto;
    @include mq(md) {
        display: flex;
        width: 500px;
    }
}
.t-hero__inner__link li {
    margin-bottom: 1.5em;
    @include mq(md) {
        margin-bottom: 0;
    }
}
[data-loaded] {
    opacity: 0;
}

/*==============================================
    8-2. HOME NEWS
==============================================*/
.t-news {
    z-index: 1;
    position: absolute;
    width: 83.3%;
    padding: 1em 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $FONTCOLOR;
    color: $BACKGROUND_COLOR_1;
    bottom: 1em;
    @include center(x);
    box-sizing: border-box;
    @include mq(md) {
        max-width: 1400px;
        min-width: 1000px;
        margin: 0 auto;
        padding: 1.5em 0;
        bottom: 2em;
    }
}
.t-news__ticker {
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.t-news__ticker__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}
.t-news__ticker__table tr {
    display: none;
    width: 100%;
}
.t-news__ticker__table tr th {
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    @include ff-notosans-400;
    @include s-font-size(12px, 20px);
    @include mq(md) {
        display: inline-block;
        @include l-font-size(12px, 22px);
    }
}
.t-news__ticker__table tr td {
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: .5em 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include ff-notosans-400;
    @include s-font-size(10px, 18px);
    @include mq(md) {
        display: inline-block;
        padding: 0 0 0 2em;
        @include l-font-size(12px, 22px);
    }
}
.t-news__ticker__table tr td a {
    display: block;
    width: 98%;
    color: $BACKGROUND_COLOR_1;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include mq(md) {
        width: 100%;
    }
}
.t-news__ticker ul {
    width: 100%;
    position: relative;
}
.t-news__ticker ul li {
    width: 100%;
    display: none;
}

/*==============================================
    8-3. HOME HELLO
==============================================*/
.t-hello__message {
    overflow: hidden;
    @include ff-notosans-400;
    @include s-font-size(15px, 30px);
    @include mq(md) {
        text-align: center;
        @include l-font-size(20px, 44px);
    }
}

/*==============================================
    8-4. HOME CASE
==============================================*/
.t-case {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.t-case__item {
    margin-bottom: 3em;
    @include mq(md) {
        @include percentage(230, 1000);
        margin-bottom: 0;
    }
}
.t-case__item__icon {
    width: 16%;
    margin: 1em auto;
    @include mq(md) {
        width: 28%;
        margin: 0 auto 2em;
    }
}

.t-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6em;
    @include mq(md) {
        margin-top: 6em;
    }
}
.t-group__icon {
    width: 16%;
    @include mq(md) {
        width: 10%;
    }
}
.t-group__textbox {
    width: 78%;
    margin-top: -4px;
    @include mq(md) {   
        width: 84%;
        margin-top: -6px;
    }
}

/*==============================================
    8-5. HOME EMPHASIS
==============================================*/ 
.t-emphasis {
    padding: 3.5em 0;
    color: $BACKGROUND_COLOR_1;
    .c-h2 span {
        border-bottom: 3px solid $BACKGROUND_COLOR_1;
    }
    @include mq(md) {
        padding: 6em 0;
    }
}
.t-emphasis__list__item  {
    margin-bottom: 1em;
    @include s-font-size(14px, 26px);
    @include mq(md) {
        @include l-font-size(16px, 30px);
    }
}

/*==============================================
    8-6. HOME ACCESS
==============================================*/ 
.t-access {
    width: 100%;
}
.t-access__table {
    margin-bottom: 2em;
    @include mq(md) {
        width: 44%;
        margin-bottom: 0;
    }
}
.t-access__table tr {
    display: flex;
    width: 100%;
    vertical-align: middle;
    margin: 0 0 1em 0;
}
.t-access__table tr th {
    display: inline-block;
    width: 30%;
    padding-right: 1em;
    box-sizing: border-box;
    word-wrap: break-word;
    @include ff-notosans-700;
    @include s-font-size(14px);
    @include mq(md) {
        @include l-font-size(15px);
    }
}
.t-access__table tr td {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    word-wrap: break-word;
    @include s-font-size(14px);
    @include mq(md) {
        @include l-font-size(15px);
    }
}
.t-access__map {
    @include mq(md) {
        width: 51.4%;
    }
}
.t-access__map iframe {
    width: 100%;
    height: 300px;
    @include mq(md) {
        height: 250px;
    }
}

/*==============================================
    8-7. HOME LINE STAMP
==============================================*/ 
.t-stamp {
    margin: 0 auto;
    @include mq(md) {
        width: 460px;
    }
}
.t-stamp a {
    display: flex;
    flex-wrap: wrap;
    background-color: #0DB203;
    margin-bottom: 1.5em;
}
.t-stamp__image {
    width: 35%;
}
.t-stamp__title {
    position: relative;
    width: 65%;
}
.t-stamp__title p {
    @include center(y);
    width: 100%;
    background-color: #0DB203;
    padding: 0 1em;
    box-sizing: border-box;
    @include ff-notosans-700;
    @include s-font-size(15px);
    @include mq(md) {
        @include l-font-size(22px);
    }
}
.t-stamp__title span {
    @include ff-roboto-700;
    @include s-font-size(13px);
    @include mq(md) {
        @include l-font-size(20px);
    }
}

/*==============================================
    8-8. HOME ENGLISH PAGE
==============================================*/ 
.home-en-index {
    @include ff-roboto-400;

    .t-news__ticker__table tr th {
        @include ff-roboto-400;
        @include s-font-size(12px, 20px);
        @include mq(md) {
            @include l-font-size(12px, 22px);
        }
    }
    .t-news__ticker__table tr td {
        @include ff-roboto-400;
        @include s-font-size(10px, 18px);
        @include mq(md) {
            @include l-font-size(12px, 22px);
        }
    }
    .t-hello__message {
        @include ff-roboto-400;
        @include s-font-size(15px, 30px);
        @include mq(md) {
            @include l-font-size(20px, 44px);
        }
    }
    .t-access__table tr th {
        @include ff-roboto-700;
        @include s-font-size(14px);
        @include mq(md) {
            @include l-font-size(15px);
        }
    }
    .t-stamp__title p {
        @include ff-roboto-700;
        @include s-font-size(15px);
        @include mq(md) {
            @include l-font-size(22px);
        }
    }
}

/*==============================================
    8-X. HOME LYAOUT & COMPONENT(PREDEFINED)
==============================================*/