@import "_common.scss";
/*==============================================

    8. THEME PRICE

==============================================*/
.news {
    background-color: #007540;
    color: $FONTCOLOR;
    @include ff-notosans-400;
}
.news .l-footer__bunner {
    display: none;
}

/*==============================================
    8-1. PRICE TABLE
==============================================*/
.t-news {
    padding: 3em 0;
    border-top: 1px solid $FONTCOLOR;
    @include mq(md) {
        padding: 5em 0 4em 0;
    }
}
.t-news__date {
    @include ff-roboto-400;
    @include s-font-size(12px);
    @include mq(md) {
        @include l-font-size(13px);
    }
}
.t-news__content b {
    display: block;
    margin: .3em 0 1em; 
    @include ff-notosans-700;
    @include s-font-size(16px);
    @include mq(md) {
        margin: .4em 0 1em; 
        @include l-font-size(24px);
    }
}
.t-news__content span {
    display: block;
    @include ff-notosans-400;
    @include s-font-size(14px, 28px);
    @include mq(md) {
        @include l-font-size(14px, 28px);
    }
}
.t-news__content b a {
    text-decoration: underline;
}
.t-news__content small {
    display: block;
    padding-top: 1em;
    @include ff-notosans-400;
    @include s-font-size(10px, 22px);
    @include mq(md) {
        @include l-font-size(11px, 24px);
    }
}

/*==============================================
    8-2. PRICE ENGLISH
==============================================*/
.price-en-index {
    @include ff-roboto-400;
}