@import "_common.scss";
/*==============================================

    8. THEME PRICE

==============================================*/
.price {
    background-color: #007540;
    color: $FONTCOLOR;
    @include ff-notosans-400;
}
.price .l-footer__bunner {
    display: none;
}

/*==============================================
    8-1. PRICE TABLE
==============================================*/
.t-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.t-table tr {
    display: flex;
    width: 100%;
    vertical-align: middle;
}
.t-table tr:nth-last-child(1) {
    padding-bottom: 1em;
    border-bottom: 2px solid #ffffff;
}
.t-table tr th {
    display: inline-block;
    width: 22%;
    margin: 1em .5em 1em 0;
    box-sizing: border-box;
    word-wrap: break-word;
    @include ff-notosans-700;
    @include s-font-size(12px, 15px);
    @include mq(md) {
        margin: 1em 1em 1em 0;
        @include l-font-size(14px, 20px);
    }
}
.t-table tr td {
    display: inline-block;
    width: 22%;
    margin: 1em .5em 1em 0;
    box-sizing: border-box;
    word-wrap: break-word;
    @include ff-notosans-400;
    @include s-font-size(12px, 15px);
    @include mq(md) {
        margin: 1em 1em 1em 0;
        @include l-font-size(14px, 20px);
    }
}
.t-table__heading {
    margin: 0 1em 1em 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.t-table tr th.t-table__heading__name,
.t-table tr td.t-table__heading__name {
    width: 32%;
}
.t-table tr th.t-table__heading__name {
    padding-left: .7em;
    @include mq(md) {
        padding-left: 1em;
    }
}
.t-table tr td.t-table__heading__name {
    position: relative;
    padding-left: .7em;
    &::before {
        content: '';
        @include center(y);
        top: 52%;
        left: 0;
        width: 2px;
        height: 14px;
        background-color: #ffffff;
        
    }
    @include mq(md) {
        padding-left: 1em;
        &::before {
            width: 3px;
        }
    }
}

/*==============================================
    8-2. PRICE ENGLISH
==============================================*/
.price-en-index {
    @include ff-roboto-400;
    
    .t-table tr th {
        @include ff-roboto-700;
        @include s-font-size(12px, 15px);
        @include mq(md) {
            @include l-font-size(14px, 20px);
        }
    }
    .t-table tr td {
        @include ff-roboto-400;
        @include s-font-size(12px, 15px);
        @include mq(md) {
            @include l-font-size(14px, 20px);
        }
    }
}