//- -------------------------------------------------------------------------------------------------
- var key = "price";
- var meta = "price-en-index"

include ../../include/_mixin.pug
- var rootPath = '../../'
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../../include/_gtag.pug
        include ../../include/_head.pug
        include ../../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../../include/_en-header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        h1.c-h2: span Price List
                        table.t-table
                            tr.t-table__heading
                                th.t-table__heading__name Item
                                th Normal
                                th Express
                                th Deluxe
                            - 
                                var prices = [
                                    {
                                        name: 'Business Shirt',
                                        price01: '240円~',
                                        price02: '440円~',
                                        price03: '500円~',
                                    },
                                    {
                                        name: 'Slacks',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'Skirt',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'Long Skirt',
                                        price01: '800円~',
                                        price02: '-',
                                        price03: '-',
                                    },
                                    {
                                        name: 'Blouse',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                ];
                            each price in prices
                                tr
                                    td.t-table__heading__name #{price.name}
                                    td #{price.price01}
                                    td #{price.price02}
                                    td #{price.price03}
                        p.c-note *Item listed are general information, please check the service price of the other products at the store.
                            br
                            |*Price listed are price per piece.
                            br
                            |*Price are subject to tax.
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "en/index.html") Back to top page


            include ../../include/_en-footer.pug

        include ../../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------