/*==============================================

    2. SETTING MIXIN

==============================================*/
// Font Size Set Up
$SMALLFONTSIZE:  14px;
$MEDIUMFONTSIZE: 15px;
$LARGEFONTSIZE:  18px;

// Color Set Up
$FONTCOLOR: #ffffff;
$BACKGROUND_COLOR_1: #007540;
$BACKGROUND_COLOR_2: #455693;
$BACKGROUND_COLOR_3: #009294;

// Breakpoint Set Up
$SMALL_BREAKPOINT: 480px;
$MEDIUM_BREAKPOINT: 769px;
$LARGE_BREAKPOINT: 1000px;
$XLARGE_BREAKPOINT: 1600px;

$BREAKPOINTS: (
	'sm': 'screen and (min-width: ' + $SMALL_BREAKPOINT + ')',
	'md': 'screen and (min-width: ' + $MEDIUM_BREAKPOINT + ')',
	'lg': 'screen and (min-width: ' + $LARGE_BREAKPOINT + ')',
	'xl': 'screen and (min-width: ' + $XLARGE_BREAKPOINT + ')',
) !default;

// Prefix --- @include PropertySetPrefix(border-radius, 10px);
$set-prefix: '' , -moz- , -webkit-;
@mixin PropertySetPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}



/*==============================================
    2-1. mixins
==============================================*/
// Breakpoint
@mixin mq($breakpoint: md) {
	@media #{map-get($BREAKPOINTS, $breakpoint)} {
		@content;
	}
}

// Fontsize(px)
@mixin s-font-size($size: $SMALLFONTSIZE, $lineheight: $size * 1.5) {
    font-size: $size / $SMALLFONTSIZE * 1rem;
    line-height: $lineheight / $size;
}
@mixin l-font-size($size: $MEDIUMFONTSIZE, $lineheight: $size * 1.5) {
    font-size: $size / $MEDIUMFONTSIZE * 1rem;
    line-height: $lineheight / $size;
}

// Width(%)
@mixin percentage($child: 100, $parent:100) {
	width: ($child / $parent) * 100%;
}

// 上下中央寄せ
@mixin center($direction) {
	position: absolute;
	@if $direction == xy {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else if $direction == x {
		left: 50%;
		transform: translateX(-50%);
	}
	@else if $direction == y {
		top: 50%;
		transform: translateY(-50%);
	}
}

/* font family */
@mixin ff-roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin ff-roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
@mixin ff-notosans-400 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
@mixin ff-notosans-700 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}