//- -------------------------------------------------------------------------------------------------
- var key = "home";
- var meta = "home-index"

include /include/_mixin.pug
- var rootPath = ''
- 
    var contents = [
        {
                title: '手仕上げ',
                image: 'image/icon_01.png',
                text: '創業７０年、地域に密着したお店です。お預かりした品物を１点１点丁寧に手仕上げしております。またシミ抜き、お直しもお気軽にご相談ください。',
                note: '',
            },
            {
                title: 'お急ぎ',
                image: 'image/icon_02.png',
                text: 'ドライクリーニングのお品物は、朝いただいて夕方お渡しできます。<br>Yシャツは通常は頂いた日から、中1日でお渡しいたします。',
                note: '※お昼までにお持ちください。<br>※お急ぎはプラス200円で当日お渡しいたします。',
            },
            {
                title: 'お直し',
                image: 'image/icon_03.png',
                text: 'ズボン、スカートの丈つめ、ウエスト直しなど致します。1週間を要します。',
                note: '',
            },
            {
                title: '配達',
                image: 'image/icon_04.png',
                text: 'カーテン、毛布、羽毛布団、カーペットや衣替えのなどの季節のクリーニングの集配いたします。',
                note: '',
            },
    ]
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include include/_gtag.pug
        include include/_head.pug
        include include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include include/_header.pug


            //- Let's Enjoy Coding!!
            main.l-container#app
                .t-hero
                    .t-hero__inner
                        h1.t-hero__inner__logo(data-loaded="1"): img(src="image/logo.png", alt="ツクバクリーニング。渋谷区代々木参宮橋。参宮橋駅周辺")
                        h2.t-hero__inner__lead(data-loaded="2") 創業70年、地域に密着したお店です。
                            br
                            |「手仕上げ・お急ぎ・お直し・配達」
                            br
                            |可能な限り良い状態までクリーニングいたします。
                        ul.t-hero__inner__link(data-loaded="3")
                            li.c-btn: a(href="price/index.html") 料金表ページ
                            li.c-btn: a(href="news/index.html") ニュース

                    .t-news(data-loaded="4")
                        .l-frame
                            .t-news__ticker(rel="roll")
                                table.t-news__ticker__table
                                    tr
                                        th 2020/04/16
                                        td 
                                            a(href="news/index.html") 【重要】コロナウイルス感染症拡大防止に伴う営業時間の変更
                                    tr
                                        th 2019/12/27
                                        td 
                                            a(href="news/index.html") 年末年始の日程を記載しました。
                                    tr
                                        th 2019/08/09
                                        td 
                                            a(href="news/index.html") お盆休み日程を記載しました。
                                    tr
                                        th 2019/04/16
                                        td 
                                            a(href="news/index.html") ニュースページ公開しました。GWの営業日程を記載しました。
                                    tr
                                        th 2019/03/22
                                        td 
                                            a(href=rootPath + "en/index.html") 英語ページを公開しました。English page is today available.
                                    tr
                                        th 2019/03/20
                                        td 
                                            a(href="https://line.me/S/sticker/7038815", target="_blank") LINEスタンプ作りました！
                                    tr
                                        th 2019/03/11
                                        td 
                                            a(href="price/index.html") 料金表ページ開設しました。
                                    tr
                                        th 2019/03/10
                                        td ツクバクリーニングのホームページを公開しました。


                article.c-article#hello
                    .l-frame
                        .t-hello
                            h3.c-h2(data-view="ttl"): span ご挨拶
                            p.t-hello__message(data-view="up") この度はツクバクリーニングのホームページへ
                                br.u-hidden-sp
                                |お越しいただき誠にありがとうございます。
                                br.u-hidden-sp
                                |代々木参宮橋の地域密着型クリーニング店を営んでおります。


                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src="image/img_01_pc.jpg", alt="")
                        img.u-hidden-pc(src="image/img_01_sp.jpg", alt="")


                article.c-article#case
                    .l-frame
                        h3.c-h2(data-view="ttl"): span 特色
                        ul.t-case
                            each content in contents
                                li.t-case__item
                                    h4.c-h3(data-view="up") !{content.title}
                                    .t-case__item__icon: img(src=content.image, alt="", data-view="scale")
                                    p.c-p(data-view="up") !{content.text}
                                    p.c-note(data-view="up") !{content.note}

                        .l-frame--sm
                            .t-group.js-inview
                                .t-group__icon: img(src="image/icon_05.png", alt="", data-view="scale")
                                .t-group__textbox(data-view="up")
                                    h4.c-h3.u-left 企業向け
                                    p.c-p 作業着や制服などクリーニング対応しております。数や品物、料金、納期などのご確認する必要がございますので一度ご相談の上、承らせて頂きます。


                article.c-article#accent
                    .u-bg--accent
                        .l-frame
                            .l-frame--sm
                                .t-emphasis
                                    h3.c-h2(data-view="ttl"): span ご注意
                                    ul.t-emphasis__list(data-view="up")
                                        li.t-emphasis__list__item 高額のお品物に、革製品などはご相談ください。商品の状態によってはお断りさせていいただく場合がございますのでご了承くださいませ。


                article.c-article#access
                    .l-frame
                        .l-frame--md
                            h3.c-h2(data-view="ttl"): span アクセス・営業時間
                            .t-access.l-col.l-col--rr
                                table.t-access__table(data-view="up")
                                    tr
                                        th 住所
                                        td 東京都渋谷区代々木4-20-2
                                    tr
                                        th 最寄り駅
                                        td 「参宮橋駅」徒歩2分
                                            br
                                            |「初台駅」徒歩6分
                                            br
                                            |「代々木駅」徒歩12分
                                    tr
                                        th 定休日
                                        td 日・祝日
                                    tr
                                        th 営業時間
                                        td 
                                            del 8:30 - 19:30
                                            br
                                            | 10:00 - 19:00
                                            br
                                            a(href="news/") コロナ期間中の営業時間変更の詳細はこちらから
                                    tr
                                        th 電話番号
                                        td 03-3370-1928
                                    tr
                                        th 周辺施設
                                        td 国立オリンピック記念青少年総合センター
                                            br
                                            |東京オペラシティ
                                            br
                                            |文化服装学院
                                            br
                                            |明治神宮
                                .t-access__map(data-view="up")
                                    .
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8884523335973!2d139.68934861491041!3d35.67974853766133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cccb10b540f%3A0x26688eae4c5b2f20!2z44CSMTUxLTAwNTMg5p2x5Lqs6YO95riL6LC35Yy65Luj44CF5pyo77yU5LiB55uu77yS77yQ4oiS77yS!5e0!3m2!1sja!2sjp!4v1551346346050" frameborder="0" style="border:0" allowfullscreen></iframe>


                article.c-article
                    .l-frame
                        h3.c-h2(data-view="ttl"): span LINE STAMP
                        .t-stamp(data-view="up")
                            a(href="https://line.me/S/sticker/7038815", target="_blank")
                                .t-stamp__image: img(src="image/img_linestamp.png", alt="")
                                .t-stamp__title: p 愛犬あんこさんスタンプ
                                    br
                                    span 120円
                            p.c-p 看板犬でもあるトイプードルのあんこさんでLINEスタンプを作りました！スタンプショップは上のバナーより飛ぶことができます。



                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src="image/img_02_pc.jpg", alt="")
                        img.u-hidden-pc(src="image/img_02_sp.jpg", alt="")
                        p.c-article__image__catch ご来店心より
                            br.u-hidden-pc
                            |お待ちしております。


            include include/_footer.pug

        include include/_scripts.pug
        script(src=rootPath + "asset/js/" + (key) + ".js")
//- -------------------------------------------------------------------------------------------------