/*==============================================

    7. COMPONENT

==============================================*/
/*==============================================
    7-1. COMPONENT TEXT
==============================================*/
/*!
---
name: 見出し/テキスト
category:
  - object/component
---

```jade
.c-h1 見出し
.c-h2 見出し
.c-h3 見出し
.c-p 見出し
.c-note 見出し
```
*/
.c-h1 {
    @include ff-roboto-400;
    @include s-font-size(16px);
    @include mq(md) {
        @include l-font-size(24px);
    }
}
.c-h2 {
    text-align: center;
    margin-bottom: 3em;
    @include ff-notosans-700;
    @include s-font-size(20px);
    @include mq(md) {
        margin-bottom: 3em;
        @include l-font-size(24px);
    }
}
.c-h2 span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid $FONTCOLOR;
}
.c-h2[data-view="ttl"] span {
    transform: translateY(60px);
    overflow: hidden;
}
.c-h3 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    @include s-font-size(16px);
    @include mq(md) {
        @include l-font-size(18px);
    }
}
.c-p {
    @include ff-notosans-400;
    @include s-font-size(14px, 26px);
    @include mq(md) {
        @include l-font-size(14px, 26px);
    }
}
.c-note {
    color: #cccccc;
    margin-top: .5em;
    @include s-font-size(10px);
    @include mq(md) {
        @include l-font-size(11px);
    }
}

.js-view.c-h2[data-view="ttl"] span {
    transform: translateY(0);
}

/*==============================================
    7-2. COMPONENT BUTTON
==============================================*/
.c-btn {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: 1px solid $FONTCOLOR;
    border-radius: 50px;
    @include mq(md) {
        width: 220px;
    }
}
.c-btn a {
    display: block;
    padding: .6em 0;
    @include ff-notosans-400;
    @include s-font-size(12px);
    @include mq(md) {
        padding: .7em 0;
        @include l-font-size(13px);
    }
}

/*==============================================
    7-3. COMPONENT SECTION
==============================================*/
.c-article {
    margin: 6em 0;
    @include mq(md) {
        margin: 8em 0;
    }
}
.c-article__image {
    position: relative;
}
.c-article__image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .2)
}
.c-article__image__catch {
    text-align: center;
    display: block;
    width: 100%;
    color: $FONTCOLOR;
    @include center(xy);
    @include ff-notosans-700;
    @include s-font-size(20px);
    @include mq(md) {
        letter-spacing: .06em;
        @include l-font-size(40px);
    }
}

.c-section {
    margin: 6em 0;
    @include mq(md) {
        margin: 8em 0;
    }
}
.c-section__image {
    position: relative;
}
.c-section__image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .2)
}
.c-section__image__catch {
    text-align: center;
    display: block;
    width: 100%;
    color: $FONTCOLOR;
    @include center(xy);
    @include ff-notosans-700;
    @include s-font-size(20px);
    @include mq(md) {
        letter-spacing: .06em;
        @include l-font-size(40px);
    }
}

/*==============================================
    7-4. COMPONENT DATA-VIEW
==============================================*/
[data-view="ttl"],
[data-view="ttl"] span {
    transition: all .4s ease 0s;
    will-change: transform;
}
[data-view="up"] {
    opacity: 0;
    transform: translateY(20px);
    transition: all .4s ease .2s;
    will-change: opacity, transform;
}
.js-view[data-view="up"] {
    opacity: 1;
    transform: translateY(0);
    will-change: opacity, transform;
}
[data-view="scale"] {
    transform: scale(0);
    transform-origin: center center;
    transition: all .4s ease .2s;
    will-change: transform;
}
.js-view[data-view="scale"] {
    transform: scale(1);
    will-change: transform;
}

/*==============================================
    7-X. COMPONENT XXXXXX
==============================================*/