/*==============================================

    ?. UTILITY

==============================================*/
.u-hidden {
    display: none;
}
@media (max-width:480px){
	.u-hidden-sp {
		display: none;
	}
}
@media (min-width:481px){
	.u-hidden-pc {
		display: none;
	}
}

.u-eventnone { pointer-events: none; opacity: .6; }

.u-left     { text-align: left; }
.u-center   { text-align: center; }
.u-right    { text-align: right; }

.u-red      { color: #E38692; }
.u-blue     { color: #6EB7DB; }
.u-green    { color: #64C99B; }
.u-orenge   { color: #EDA184; }

.u-bg--red { background-color: #E38692; }
.u-bg--blue { background-color: #6EB7DB; }
.u-bg--green { background-color: #64C99B; }
.u-bg--orange { background-color: #EDA184; }
.u-bg--accent { background-color: #ffffff; }