//- .l-header

//-     .l-header__btn: span

//-     .l-header__gnav
//-         .l-nav
//-             ul.l-nav__ul.l-col
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home

.l-header
    h1.l-header__logo.c-h1: a(href=rootPath + ".") TSUKUBA CLEANING

    .l-header__btn--cover
        .l-header__btn: span

    .l-header__gnav
        .l-nav
            ul.l-nav__ul
                li.l-nav__ul__item: a(href=rootPath + "en/index.html", data-page) Home
                li.l-nav__ul__item: a(href=rootPath + "en/index.html#hello", data-page) Greetings
                li.l-nav__ul__item: a(href=rootPath + "en/index.html#case", data-page) Services
                li.l-nav__ul__item: a(href=rootPath + "en/index.html#accent", data-page) Notes
                li.l-nav__ul__item: a(href=rootPath + "en/index.html#access", data-page) Access / Business Hours
                li.l-nav__ul__item(data-index="price"): a(href=rootPath + "en/price/index.html") Price List
                li.l-nav__ul__item(data-index="news"): a(href=rootPath + "en/news/index.html") News
                //- li.l-nav__ul__item: a(href=rootPath + ".") サイトポリシー
    
        .l-header__laungage
            .l-header__laungage__btn.c-btn: a(href=rootPath + "index.html") Japanese