.l-footer
    .l-footer__bunner
        .l-footer__bunner__btn: a(href=rootPath + "en/price/index.html") Price List page
        .l-footer__bunner__btn: a(href=rootPath + "en/news/index.html") News Page
    .l-footer__language: a(href=rootPath + "index.html") Japanese
    p.l-footer__copyright: small &copy; 2019 Tsukuba Cleaning. ツクバクリーニング