footer.l-footer
    .l-footer__bunner
        .l-footer__bunner__btn: a(href=rootPath + "price/index.html") 料金表ページを見る
        .l-footer__bunner__btn: a(href=rootPath + "news/index.html") ニュースページを見る
    .l-footer__language: a(href=rootPath + "en/index.html") English
    p.l-footer__copyright: small &copy; 2019 ツクバクリーニング