meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width")
meta(name="format-detection", content="telephone=no")
meta(name="robots", content="index,follow")