//- .l-header

//-     .l-header__btn: span

//-     .l-header__gnav
//-         .l-nav
//-             ul.l-nav__ul.l-col
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home
//-                 li.l-nav__ul__item: a(href=rootPath + ".") Home

header.l-header
    p.l-header__logo.c-h1: a(href=rootPath + ".") TSUKUBA CLEANING

    .l-header__btn--cover
        .l-header__btn: span

    nav.l-header__gnav
        .l-nav
            ul.l-nav__ul
                li.l-nav__ul__item: a(href=rootPath + "index.html", data-page) ホーム
                li.l-nav__ul__item: a(href=rootPath + "index.html#hello", data-page) ご挨拶
                li.l-nav__ul__item: a(href=rootPath + "index.html#case", data-page) 特色
                li.l-nav__ul__item: a(href=rootPath + "index.html#accent", data-page) ご注意
                li.l-nav__ul__item: a(href=rootPath + "index.html#access", data-page) アクセス・営業時間
                li.l-nav__ul__item(data-index="price"): a(href=rootPath + "price/index.html", data-price) 料金表
                li.l-nav__ul__item(data-index="news"): a(href=rootPath + "news/index.html", data-news) ニュース
                //- li.l-nav__ul__item: a(href=rootPath + ".") サイトポリシー
        
        .l-header__laungage
            .l-header__laungage__btn.c-btn: a(href=rootPath + "en/index.html") English