// main title
title #{pageName.title}
// meta tags
meta(name="keywords", content=pageName.keywords)
meta(name="description", content=pageName.description)
meta(property="og:title" content=pageName.title)
meta(property="og:type" content=pageName.type)
meta(property="og:image" content=pageName.image)
meta(property="og:url" content=pageName.url)
meta(property="og:description" content=pageName.descriptionog)
// favicon
link(rel="shortcut icon" href=rootPath + "favicon.ico" type="image/x-icon" )
// google fonts
link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:400,700" rel="stylesheet")