//- Memo / How to use console log
//- - console.log(file)

- var file = locals.relativePath
- var site = locals.sitedata.site
- var data = locals.sitedata
- var pageName = site[meta]

if file === 'index.html'
	- var rootPath = './'
else
	- var rootPath = '../'