script(src=rootPath + "asset/js/min/jquery-3.1.1.min.js")
script(src=rootPath + "asset/js/min/velocity.min.js")
script(src="https://cdn.jsdelivr.net/npm/vue")
script(src=rootPath + "asset/js/common.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")